#top-hero {
  background-image: url('/images/076_2048.png');
  background-size: cover;
}

#top-bottom-hero {
  a {
    color: white;
  }
}


#top-caption{
  margin-top: 130px;
  margin-bottom: 130px;

  h2{
    font-weight: 100;
    font-size: 14px;
    color: #474431;
    letter-spacing: 1.99px;
    line-height: 32px;
  }
}

