#top-hero {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url('/images/top_banner.jpg');
  background-size: cover;
  background-position: right top;
}

#top-bottom-hero {
  a {
    color: white;
  }
}


#top-caption{
  margin-top: 12vw;
  margin-bottom: 12vw;

  h2{
    font-weight: 100;
    font-size: 14px;
    color: white;
    letter-spacing: 1.99px;
    line-height: 32px;
  }
}

