%section.section.has-text-centered#inquiry
  .title
    %h2
      オーダー・お問い合わせ
  .inquiry
    %span.icon.is-medium
      = link_to 'https://www.facebook.com/leather0port/' do
        %i.fa.fa-facebook-official
    %span.icon.is-medium
      = link_to 'https://www.instagram.com/hobu_leather_port/' do
        %i.fa.fa-instagram
    %span.icon.is-medium
      = link_to 'https://twitter.com/hobu_chan' do
        %i.fa.fa-twitter
    %span.icon.is-medium
      = link_to 'mailto:info_pipinika@leather-port.com' do
        %i.fa.fa-envelope
%footer.footer
  .container
    .content.has-text-centered
      %p
        Copyright © 2016-2017 <strong>LEATHER PORT</strong> All Rights Reserved.
